body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border-bottom: 10px solid orange;
}

.imagemCarrinho{
    margin-top: 50px;
    align-self: center;
}

.voltarAoMenu{
    text-decoration: none;
    margin-right: 15px;
    color: #F89100;
    font-family: Lalezar;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap:10px;
    height: 150px;
}

.voltarAoMenu:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.logo{
    margin-left: 15px;
    height: 150px;
}

.tituloMeuCarrinho{
    align-self: center;
    color: #000;
    font-family: Lalezar;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.produtos{
    align-self: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;
}

.produto{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 760px;
    height: 150px;
    border-radius: 5px;
    border: 7px solid #4B4B4B;
    background: #FFF;
}

.imagemProduto{
    justify-content:flex-start;
    width: 141px;
    height: 118px;
    border-radius: 20px;
    border: 3px solid #F89100;
    background: url(/img/pizza.png) lightgray 50% / cover no-repeat;
    box-shadow: 9px 7px 4px 0px rgba(0, 0, 0, 0.25);
}

.textoProduto{
    display: flex;
    justify-self: flex-start;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap:0px;
}

.tituloProduto{
    margin: 0px;
    color: #646464;
    font-family: Lalezar;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.descricaoProduto{
    margin-top: 0px;
    width: 300px;
    color: #898989;
    font-family: Lalezar;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.precoProduto{
    align-self: flex-start;
    margin-left: 20%;
}

.textoValor{
    margin-bottom: -5px;
    color: #414141;
    font-family: Lalezar;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.textoValorEscrito{
    margin-top: 0px;
    color: #359800;
    font-family: Lalezar;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lixeiraIcone{
    margin-left: 50px;
}

.lixeiraIcone:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.valorTotalCarrinho{
    align-self: center;
    color: #2A2A2A;
    font-family: Lalezar;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botoesOpcoesSair{
    margin-bottom: 80px;
    align-self: center;
    display: flex;
    gap: 30px;
}

.botaoFinalizarCompra{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 259px;
    height: 65px;
    border-radius: 10px;
    background: #5EC900;
    color: #FFF;
    font-family: Lalezar;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botaoContinuarComprando{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 326px;
    height: 65px;
    border-radius: 10px;
    border: 3px solid #FF9500;
    background: rgba(217, 217, 217, 0.00);
    color: #F89100;
    font-family: Lalezar;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botaoFinalizarCompra:hover,.botaoContinuarComprando:hover{
    transform: scale(1.1);
    cursor: pointer;
}

footer{
    width: 100%;
    height: 100px;
    background-color: orange;
}