<!-- Template utilizado no envio de email de 'esqueci a senha' -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de senha - Vistoria</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        .container {
            margin: 20px;
        }
        .highlight {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>Acesse o link a seguir para redefinir sua senha: {resetPasswordLink}</p>
        <p>Caso você não tenha solicitado a redefinição de senha, apenas ignore esse email</p>
    </div>
</body>
</html>